<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../styles.css">
    <title>Редактирование</title>
</head>

<body>
    <h1>Новый продукт</h1>
    <form method="POST">
        <p>Артикул: 0 </p>
        <p><label for="name">Название</label>
            <input type="text" name="name">
        </p>
        <p><label for="purchaseprice">Закупка</label>
            <input type="text" name="purchaseprice">
        </p>
        <p><label for="sellprice">Продажа</label>
            <input type="text" name="sellprice">
        </p>
        <p><label for="quantity">Остаток</label>
            <input type="text" name="quantity">
        </p>
        <input type="submit" value="Сохранить" name> <input type="submit" value="Отменить">
    </form>
</body>

</html>