<!DOCTYPE html>

<html>

<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="../styles.css">
    <style>
        body {
            margin: 8px 20px;
        }
    </style>
</head>

<body>
    <h1>Каталог</h1>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Остаток</th>
            <th>Цена</th>
        </tr>
        <tr>
            <td><a href="/products/1">Банка 0.5</a></td>
            <td><a href="/products/1/cart">3</a></td>
            <td><a href="/products/1/cart">50 руб.</a></td>
        </tr>
        <tr>
            <td><a href="/products/2">Банка 1</a></td>
            <td><a href="/products/2/cart">35</a></td>
            <td><a href="/products/2/cart">25 руб.</a></td>
        </tr>
        <tr>
            <td><a href="/products/3">Банка 3</a></td>
            <td><a href="/products/3/cart">90</a></td>
            <td><a href="/products/3/cart">100 руб.</a></td>
        </tr>
        <tr>
            <td><a href="/products/4">Крышки (красные)</a></td>
            <td><a href="/products/4/cart">150</a></td>
            <td><a href="/products/4/cart">20 руб.</a></td>
        </tr>
        <tr>
            <td><a href="/products/5">Крышки (Светлана)</a></td>
            <td><a href="/products/5/cart">5</a></td>
            <td><a href="/products/5/cart">5 руб.</a></td>
        </tr>
        <tr>
            <td><a href="/products/6">Перчатки (прорезиненные)</a></td>
            <td><a href="/products/6/cart">24</a></td>
            <td><a href="/products/6/cart">100 руб.</a></td>
        </tr>
    </table>
</body>

</html>