<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Редактирование</title>
</head>

<body>
    <h1>{{.Product.Name}}</h1>
    <form method="POST">
        <p>Артикул: {{.Product.Id}}</p>
        <p><label for="name">Название</label>
            <input type="text" name="name" value="{{.Product.Name}}" {{if .NameError}}class ="errorInput"{{end}}>
            {{if .NameError}}<span class="error">* {{.NameError}}</span>{{end}}
        </p>
        <p><label for="purchaseprice">Закупка</label>
            <input type="text" name="purchaseprice" value="{{.Product.PurchasePrice}}">
        </p>
        <p><label for="sellprice">Продажа</label>
            <input type="text" name="sellprice" value="{{.Product.SellPrice}}">
        </p>
        <p><label for="quantity">Остаток</label>
            <input type="text" name="quantity" value="{{.Product.Quantity}}">
        </p>
        <input type="submit" value="Сохранить" name="Save">
        <input type="button" value="Отменить" name="Cancel" onclick="location.href='/'">
    </form>
</body>

</html>