<!DOCTYPE html>

<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        {{range .Products}}
        <tr>
            <td><a href="/products/{{.Id}}">{{.Name}}<a></td>
            <td>{{.Quantity}}</td>
            <td><a href="/products/{{.Id}}/edit"> Edit</a></td>
        </tr>

        {{end}}
    </table>
    <a href="/products/new"> Новый продукт </a>
</body>

</html>